DISCORD_TOKEN=MTM5MjA2Nzg0MDExODM2MjExMg.GSVxx8.qIoh_OWw22dN-kLp25nsDui4H5umUHIQMXa6AY
LOG_URL=https://discord.com/api/webhooks/1392406760295501995/oJCfdXMvbcGFYnz3JqkPtj6CdB0opaiLzWlcWPBeqW6W-6-kTbGPQYaxRtl5_KJUpMne
